 <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container-fluid col-xs-12">   <!-- container -->
             <!-- mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defnavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      <a class="navbar-brand" href="#">Nirmal</a>
            </div>   <!--/  mobile display -->
            
            <div class="collapse navbar-collapse" id="defnavbar">
                <ul class="nav navbar-nav navbar-right ">
                    <li class="active"><a href="#">Home</a></li>
                     <li><a href="#about">About Me</a></li>
                     <li><a href="#portfolio">Resume</a></li>
                     <li><a href="#contact">Contact Me</a></li>
                </ul>
            </div>
        </div>
    </nav>
 <header class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center intro-text" >
                   
                    <h1 class="name">Nirmal Kumar Sekar</h1>
                    <p>Full Stack Web Developer</p>
                            <img class="img-responsive img-rounded photo" alt="nirmal-photo" src="images/nirmal-kumar.jpg">
               
             
                    <div class="social-buttons">
                        <ul class="list-inline social-buttons">
                            <li><a target="_blank" class="btn btn-mod btn-default btn-lg" href="http://www.twitter.com/nirmalche">Twitter</a></li>
                                <li><a target="_blank" class="btn btn-mod btn-default btn-lg" href="http://www.github.com/nirmalks">Github</a></li>
                            <li><a target="_blank" class="btn btn-mod btn-default btn-lg" href="http://www.linkedin.com/in/ksnirmalkumar">LinkedIn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
