 <div class="container-fluid col-xs-12 col-lg-12 footer">
      
                <footer>
                    <ul class="list-inline">
                        <li><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#portfolio">Resume</a></li>
                        <li><a href="#contact">Contact Me</a></li>
                    </ul>
                    <p class="text-center">&copy; Designed in Ng2 by Nirmal Kumar Sekar 2016</p>
                </footer>
            </div>
            
 
