<div class="skills">
	<div class="container">


		<h2 class="text-center">Skills</h2>

		<div class="col-sm-12 col-md-6 col-lg-6">
			<h4>Java <span>70%</span></h4>

			<div class="progress">
				<div class="progress-bar progress-bar-striped" role="progressbar" style="width:70%">
					70%
				</div>
			</div>

			<h4>Spring Boot <span>60%</span></h4>

			<div class="progress">
				<div class="progress-bar progress-bar-striped" role="progressbar" style="width:60%">
					60%
				</div>
			</div>

			<h4>Angular 2 <span>60%</span></h4>

			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
					70%
				</div>
			</div>
			<h4>TypeScript <span>60%</span></h4>
			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
					70%
				</div>
			</div>
		</div>

		<div class=" col-md-6">
			<h4>JavaScript <span>60%</span></h4>
			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
					70%
				</div>
			</div>



			<h4>HTML5 & CSS3 <span>60%</span></h4>
			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
					70%
				</div>
			</div>
			<h4>jQuery<span>60%</span></h4>
			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
					70%
				</div>
			</div>
			<h4>Responsive Web Design<span>60%</span></h4>

			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
					70%
				</div>
			</div>
		</div>
	</div>

</div>



<div class="projects">
	<div class="container">


		<h2 class="text-center">Projects</h2>
		<div class="col-xs-12 col-md-4">
			<h3>Ristorante con Fusion</h3>
			<figure>
				<img class="img-responsive" src="./../assets/images/Ristorante-Con-Fusion.png">
				<figcaption>Fictional restaurant website</figcaption>
			</figure>



		</div>

		<div class="col-xs-12 col-md-4">
			<h3>Single Page Portfolio </h3>
			<figure>

				<img class="img-responsive" src="./../assets/images/nirmal-site.png">
				<figcaption> A static single page website that shows my portfolio.</figcaption>
			</figure>

		</div>



		<div class="col-xs-12 col-md-4">
			<h3> Animals Gallery </h3>
			<figure>

				<img class="img-responsive" src="./../assets/images/animal-albums.png">
				<figcaption>Developed a website using data from a JavaScript file. Templates are used to display the data and the responsive layout
					is created using Bootstrap.
				</figcaption>
			</figure>








		</div>
	</div>
</div>
<div class="experience">
	<div class="container">
		<h2 class="text-center">Experience:</h2>
	
			<div class="col-xs-12 col-lg-8">
				Software Developer Intern at Krishco Infolabs
			</div>
			<div class="col-xs-12 col-lg-4">
				2016 - Present
			</div>
		
	</div>
</div>
<div class="courses">
	<div class="container">
		<h2 class="text-center">Online Courses:</h2>
		<div class="row">


			<div class="col-lg-12 course-item">

				<div class="col-lg-8">
					Introduction to Bootstrap- Microsoft
				</div>
				<div class="col-lg-4">
					Duration , MArks
				</div>
			</div>
		</div>

		<div class="row">


			<div class="col-lg-12 course-item">

				<div class="col-lg-8">
					Advanced Styling with Responsive Design- University of Michigan HTML, CSS and JavaScript
				</div>
				<div class="col-lg-4">
					Duration , MArks
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 course-item">

				<div class="col-lg-8">
					The Hong Kong University of Science and Technology Responsive Web Design - University of London
				</div>
				<div class="col-lg-4">
					Duration , MArks
				</div>
			</div>
		</div>


	</div>
</div>